h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  text-decoration: underline;
}
table {
  border: 1px double black;
  margin: auto;
  width: 50vw;
  height: 50vh;
  margin-top: 5%;
  margin-bottom: 15%;
  padding: 2%;
  text-align: center;
  border-spacing: 6px;
  background-color: rgb(255, 255, 234);
  font-family: Ariel;
}
td {
  border: 1px solid black;
  border-radius: 4%;
}
th {
  border-style: groove;
}
body {
  background-image: linear-gradient(180deg, Azure, AliceBlue, Gainsboro);
  height: 100vh;
}

td:hover {
  background-color: aquamarine;
}
tr:nth-child(even) {
  background-color: #b8ffa696;
}
